# TODO

1. Limpiar los genres de los animes

In [1]:
import os
import pandas as pd

In [2]:
CWD = os.getcwd()

In [3]:
PATH_INPUT_FOLDER = os.path.join(CWD, "input")

In [4]:
PATH_INPUT_FOLDER

'/Users/nicolaepopescul/Desktop/streams/20240511_content_based_recommenders/input'

In [5]:
os.listdir(PATH_INPUT_FOLDER)

['cf_anime.parquet.gzip', 'cf_rating.parquet.gzip']

In [6]:
rating = pd.read_parquet(os.path.join(PATH_INPUT_FOLDER, 'cf_rating.parquet.gzip'))
anime = pd.read_parquet(os.path.join(PATH_INPUT_FOLDER, 'cf_anime.parquet.gzip'))

In [7]:
rating = rating[rating["rating"] != -1]

In [8]:
rating.sample(5)

         user_id  anime_id  rating
25680        294     17813       7
1202666    11408      3457       7
243823      2526     16774       7
6338385    58865       904       5
1076550    10357       524       8

In [9]:
anime

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [10]:
anime = anime[["anime_id", "name", "genre", "type"]]

In [11]:
anime["genre"].iloc[0].split(", ")

['Drama', 'Romance', 'School', 'Supernatural']

In [12]:
anime.head()

,anime_id,name,genre,type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV

In [13]:
anime.shape

(12294, 4)

In [14]:
genres = anime["genre"].str.split(", ", expand = True)

In [15]:
genres

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,Drama,Romance,School,Supernatural,None,None,None,None,None,None,None,None,None
1,Action,Adventure,Drama,Fantasy,Magic,Military,Shounen,None,None,None,None,None,None
2,Action,Comedy,Historical,Parody,Samurai,Sci-Fi,Shounen,None,None,None,None,None,None
3,Sci-Fi,Thriller,None,None,None,None,None,None,None,None,None,None,None
4,Action,Comedy,Historical,Parody,Samurai,Sci-Fi,Shounen,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12290,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12291,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12292,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12293,Hentai,None,None,None,None,None,None,None,None,None,None,None,None

In [16]:
anime.shape

(12294, 4)

In [17]:
anime = pd.concat([anime, genres], axis = 1)

In [18]:
anime

,anime_id,name,genre,type,0,1,2,3,4,5,6,7,8,9,10,11,12
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,Drama,Romance,School,Supernatural,None,None,None,None,None,None,None,None,None
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,Action,Adventure,Drama,Fantasy,Magic,Military,Shounen,None,None,None,None,None,None
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,Action,Comedy,Historical,Parody,Samurai,Sci-Fi,Shounen,None,None,None,None,None,None
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,Sci-Fi,Thriller,None,None,None,None,None,None,None,None,None,None,None
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,Action,Comedy,Historical,Parody,Samurai,Sci-Fi,Shounen,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12290,5543,Under World,Hentai,OVA,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,Hentai,None,None,None,None,None,None,None,None,None,None,None,None
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,Hentai,None,None,None,None,None,None,None,None,None,None,None,None

In [19]:
anime_genre = (
    anime[["anime_id"] + genres.columns.tolist()]
    .melt(id_vars = "anime_id")
    [["anime_id", "value"]]
    .dropna()
    .pivot_table(
        index = "anime_id",
        columns = "value",
        aggfunc = len,
        fill_value = 0
    )
)

In [20]:
anime_genre

value,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
anime_id,,,,,,,,,,,,,,,,,,,,,
1,1,1,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
8,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34514,1,1,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
34519,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34522,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34525,0,0,0,1,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,0,0
34527,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
anime_genre[anime_genre.index == 5114].sum().sum()

7

In [22]:
r = anime_genre[anime_genre.index == 5114].T != 0

In [23]:
r[r[5114]]

anime_id   5114
value
Action     True
Adventure  True
Drama      True
Fantasy    True
Magic      True
Military   True
Shounen    True

In [24]:
len(anime[anime["anime_id"] == 5114]["genre"].iloc[0].split(", "))

7

In [25]:
anime[anime["anime_id"] == 5114]["genre"].iloc[0].split(", ")

['Action', 'Adventure', 'Drama', 'Fantasy', 'Magic', 'Military', 'Shounen']

In [26]:
anime.head()

,anime_id,name,genre,type,0,1,2,3,4,5,6,7,8,9,10,11,12
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,Drama,Romance,School,Supernatural,None,None,None,None,None,None,None,None,None
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,Action,Adventure,Drama,Fantasy,Magic,Military,Shounen,None,None,None,None,None,None
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,Action,Comedy,Historical,Parody,Samurai,Sci-Fi,Shounen,None,None,None,None,None,None
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,Sci-Fi,Thriller,None,None,None,None,None,None,None,None,None,None,None
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,Action,Comedy,Historical,Parody,Samurai,Sci-Fi,Shounen,None,None,None,None,None,None

In [27]:
r = anime["anime_id"].value_counts()

In [28]:
r[r > 1]

Series([], Name: count, dtype: int64)

In [29]:
anime[["anime_id", "name"]].head()

   anime_id                              name
0     32281                    Kimi no Na wa.
1      5114  Fullmetal Alchemist: Brotherhood
2     28977                          Gintama°
3      9253                       Steins;Gate
4      9969                     Gintama&#039;

In [30]:
anime_genre.columns

Index(['Action', 'Adventure', 'Cars', 'Comedy', 'Dementia', 'Demons', 'Drama',
       'Ecchi', 'Fantasy', 'Game', 'Harem', 'Hentai', 'Historical', 'Horror',
       'Josei', 'Kids', 'Magic', 'Martial Arts', 'Mecha', 'Military', 'Music',
       'Mystery', 'Parody', 'Police', 'Psychological', 'Romance', 'Samurai',
       'School', 'Sci-Fi', 'Seinen', 'Shoujo', 'Shoujo Ai', 'Shounen',
       'Shounen Ai', 'Slice of Life', 'Space', 'Sports', 'Super Power',
       'Supernatural', 'Thriller', 'Vampire', 'Yaoi', 'Yuri'],
      dtype='object', name='value')

In [31]:
anime_genre.head(3)

value,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
anime_id,,,,,,,,,,,,,,,,,,,,,
1,1,1,0,1,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5,1,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
6,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
anime_genre.loc[11757]

value
Action           1
Adventure        1
Cars             0
Comedy           0
Dementia         0
Demons           0
Drama            0
Ecchi            0
Fantasy          1
Game             1
Harem            0
Hentai           0
Historical       0
Horror           0
Josei            0
Kids             0
Magic            0
Martial Arts     0
Mecha            0
Military         0
Music            0
Mystery          0
Parody           0
Police           0
Psychological    0
Romance          1
Samurai          0
School           0
Sci-Fi           0
Seinen           0
Shoujo           0
Shoujo Ai        0
Shounen          0
Shounen Ai       0
Slice of Life    0
Space            0
Sports           0
Super Power      0
Supernatural     0
Thriller         0
Vampire          0
Yaoi             0
Yuri             0
Name: 11757, dtype: int64

In [33]:
rating.head()

     user_id  anime_id  rating
47         1      8074      10
81         1     11617      10
83         1     11757      10
101        1     15451      10
153        2     11771      10

In [34]:
rating.shape

(6337241, 3)

In [35]:
X = pd.merge(
    left = rating,
    right = anime_genre.reset_index(),
    how = "inner",
    on = ["anime_id"]
)

In [36]:
X.head()

,user_id,anime_id,rating,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,1,8074,10,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,11617,10,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,11757,10,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,15451,10,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2,11771,10,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [37]:
X = X.merge(right = anime[["anime_id", "name"]], how = "inner", on = ["anime_id"])

In [38]:
oc = [
    'user_id',
    'name',
    'rating',
    'Action',
    'Adventure',
    'Cars',
    'Comedy',
    'Dementia',
    'Demons',
    'Drama',
    'Ecchi',
    'Fantasy',
    'Game',
    'Harem',
    'Hentai',
    'Historical',
    'Horror',
    'Josei',
    'Kids',
    'Magic',
    'Martial Arts',
    'Mecha',
    'Military',
    'Music',
    'Mystery',
    'Parody',
    'Police',
    'Psychological',
    'Romance',
    'Samurai',
    'School',
    'Sci-Fi',
    'Seinen',
    'Shoujo',
    'Shoujo Ai',
    'Shounen',
    'Shounen Ai',
    'Slice of Life',
    'Space',
    'Sports',
    'Super Power',
    'Supernatural',
    'Thriller',
    'Vampire',
    'Yaoi',
    'Yuri'
]

In [39]:
X = X[oc]

In [40]:
Xt = X[X["user_id"] == 1]

In [41]:
Xt

,user_id,name,rating,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,1,Highschool of the Dead,10,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,High School DxD,10,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Sword Art Online,10,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,High School DxD New,10,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
Xt

,user_id,name,rating,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
0,1,Highschool of the Dead,10,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,High School DxD,10,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,Sword Art Online,10,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,High School DxD New,10,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
Xt.iloc[:, 3::] = Xt.iloc[:, 3::].multiply(Xt["rating"], axis = 0)

In [44]:
r = (
    Xt
    .drop(columns = ["name", "rating"])
    .groupby(["user_id"])
    .sum()
    .pipe(lambda df: df.divide(df.sum(axis = 1), axis = 0))
)

In [45]:
r

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.136364,0.045455,0.0,0.090909,0.0,0.090909,0.0,0.136364,0.045455,0.045455,...,0.0,0.0,0.0,0.0,0.0,0.045455,0.0,0.0,0.0,0.0

In [46]:
r.divide(r.sum(axis = 1), axis = 0)

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.136364,0.045455,0.0,0.090909,0.0,0.090909,0.0,0.136364,0.045455,0.045455,...,0.0,0.0,0.0,0.0,0.0,0.045455,0.0,0.0,0.0,0.0

In [47]:
X.iloc[:, 3::] = X.iloc[:, 3::].multiply(X["rating"], axis = 0)

In [48]:
ponderated_score = (
    X
    .drop(columns = ["name", "rating"])
    .groupby(["user_id"])
    .sum()
    .pipe(lambda df: df.divide(df.sum(axis = 1), axis = 0))
)

In [49]:
rating["user_id"].nunique()

69600

In [50]:
random_user = pd.Series(rating["user_id"].unique()).sample().iloc[0]

In [51]:
random_user

44037

In [52]:
random_animes = anime_genre.reset_index()["anime_id"].sample(10).values.tolist()

In [53]:
random_animes

[15783, 17985, 12579, 5632, 30129, 9502, 137, 3549, 20143, 11537]

In [54]:
# (
#     anime_genre
#     .reset_index()
#     .pipe(lambda df: df[df["anime_id"].isin(random_animes)])
# )

In [55]:
random_animes_genres = anime_genre[anime_genre.index.isin(random_animes)]

In [56]:
random_animes_genres

value,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
anime_id,,,,,,,,,,,,,,,,,,,,,
137,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3549,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5632,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9502,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11537,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12579,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
15783,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17985,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20143,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
30129,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
random_user_ponderated_score = ponderated_score[ponderated_score.index.isin([random_user])]

In [58]:
random_user_ponderated_score.shape

(1, 43)

In [59]:
random_animes_genres.shape

(10, 43)

In [60]:
random_animes_genres.head()

value,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
anime_id,,,,,,,,,,,,,,,,,,,,,
137,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3549,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5632,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9502,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11537,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
random_user_ponderated_score.head()

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
user_id,,,,,,,,,,,,,,,,,,,,,
44037,0.150185,0.064233,0.0,0.067006,0.007856,0.013401,0.067006,0.01756,0.060074,0.029113,...,0.0,0.008318,0.029575,0.003697,0.031885,0.031423,0.007856,0.003697,0.0,0.0

In [62]:
random_user_ponderated_score

,Action,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,...,Shounen Ai,Slice of Life,Space,Sports,Super Power,Supernatural,Thriller,Vampire,Yaoi,Yuri
user_id,,,,,,,,,,,,,,,,,,,,,
44037,0.150185,0.064233,0.0,0.067006,0.007856,0.013401,0.067006,0.01756,0.060074,0.029113,...,0.0,0.008318,0.029575,0.003697,0.031885,0.031423,0.007856,0.003697,0.0,0.0

In [63]:
random_animes_genres.loc[12065].to_frame()

KeyError: 12065

In [ ]:
random_user_ponderated_score.dot(random_animes_genres.loc[12065].to_frame())

In [ ]:
random_user_ponderated_score

In [ ]:
r = random_user_ponderated_score.dot(random_animes_genres.T)

In [ ]:
(
    r.T
    .sort_values(r.T.columns[0], ascending = False)
)

In [ ]:
r.rank(axis = 1, ascending = False, method = "first")